<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ex perferendis
    quisquam laboriosam reiciendis, quos consequatur nemo quia quidem
    consequuntur, consectetur, sit id quaerat quis nam nulla illum at. Quae.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Vincent van der Struis</h3>
        <p class="quote__organisation">Bodyweight workout academy</p>
      </div>
    </div>
  </footer>
</blockquote>
